[unstable]
# memory operations are assumed to be provided by the C library of the system
# however we do not have an operating system, and we need those memory operations
# we can implement them on our own or use the compiler_builtins crate, which implements them,
# but they are disabled by default to not collide with the C library
# we can enable them by setting the following flag as such
build-std-features = ["compiler-builtins-mem"]

# this tell cargo to recompile these libraries
# the core library contains basic Rust types 
# and is implicitly linked to all no_std crates
# compiler_builtins is a dependency of the core library
build-std = ["core", "compiler_builtins"] 

[build]
# our custom target machine
target = "x86_64-rust-kernel.json" 

[target.'cfg(target_os = "none")']
# this flag is to make it easier to run our kernel in qemu
# the alternative would be running the following command
# qemu-system-x86_64 -drive format=raw,file=target/x86_64-rust-kernel/debug/bootimage-rust-kernel.bin
runner = "bootimage runner" 